@media screen and (min-width: 768px){

    #concept{
        padding: 30px 100px;
    }

    #concept h1{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 300;
        line-height: 64px;
        text-align: left;
        color: #BDBDBD;
    }
    
    #concept h2{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        color: #333333;
    }

    .concept-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        width: 100%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .concept-div{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .concept-div img{
        width: 50%;
    }

    .concept-div-inverted{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .concept-div-inverted img{
        width: 50%;
    }

    .concept-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        width: 40%;
    }

    .concept-text h3{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 300;
        line-height: 46.88px;
        text-align: left;
        color: #BDBDBD;
    }

    .concept-text p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }

    

}

@media screen and (max-width: 767px){

    #concept{
        padding: 10px 20px;
    }

    #concept h1{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 300;
        line-height: 64px;
        text-align: left;
        color: #BDBDBD;
    }
    
    #concept h2{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        color: #333333;
    }

    .concept-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        width: 100%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .concept-div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .concept-div img{
        width: 50%;
    }

    .concept-div-inverted{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .concept-div-inverted img{
        width: 100%;
    }

    .concept-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        width: 100%;
    }

    .concept-text h3{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 300;
        line-height: 46.88px;
        text-align: left;
        color: #BDBDBD;
    }

    .concept-text p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }


}