@media screen and (min-width: 768px) {

    .gallery{
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;
    }
    
    .gallery h1{
        font-size: 3rem;
        font-weight: 300;
        color: #BDBDBD;
    }
    
    .gallery h2{
        font-size: 3rem;
        font-weight: 700;
        color: #000;
    }
    
    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Alinha os itens horizontalmente ao centro */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        gap: 2rem;
        width: 80%;
        margin: 0 auto; /* Centraliza o contêiner .gallery-images */
    }
    
    .gallery-images img {
        height: 200px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 20px 0;
    }
    
    .gallery-images img:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
    
}

@media screen and (max-width: 768px) {

    .gallery{
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;
    }
    
    .gallery h1{
        font-size: 3rem;
        font-weight: 300;
        color: #BDBDBD;
    }
    
    .gallery h2{
        font-size: 3rem;
        font-weight: 700;
        color: #000;
    }
    
    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Alinha os itens horizontalmente ao centro */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        gap: 1rem;
        width: 80%;
        margin: 0 auto; /* Centraliza o contêiner .gallery-images */
    }
    
    .gallery-images img {
        width: 250px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 20px 0;
    }
    
    .gallery-images img:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
    }

}