@media screen and (min-width: 768px) {
   .tituloConsulta { grid-area: title; }
   .infosPaciente { grid-area: patient; }
   .caminhoDivertido{ grid-area: image; }

   .consulta {
        display: grid;
        grid-template-areas:
            'title title image image image'
            'patient patient image image image'; /* Aqui é onde você precisa ajustar */
        gap: 3rem;
        padding: 4rem;
        height: 94vh;
        align-items: center;
    }

   .tituloConsulta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .tituloConsulta h1{
        font-size: 3rem;
        font-weight: 300;
        color: #BDBDBD;
    }
    
   .infosPaciente{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: 26px;
        align-self: start;
        margin-left: 1rem;
    }

   .informacoes{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
   .informacoes h5{
        color: #00869F;
    }

   .caminhoDivertido{
        width: 80%;
        transition: 0.3s;
        justify-self: center;
    }
   .caminhoDivertido:hover{
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.233);
    }
}
