@media screen and (min-width: 768px) {

    #how-it-works {
        padding: 30px 100px;
    }

    #how-it-works h1{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 300;
        line-height: 64px;
        text-align: left;
        color: #BDBDBD;
    }

    #how-it-works h2{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        color: #333333;
    }

    .work-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        width: 100%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .work-method{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .work-method img{
        width: 50%;
    }

    .work-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        width: 40%;
    }

    .work-text h3{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 300;
        line-height: 46.88px;
        text-align: left;
        color: #BDBDBD;
    }

    .work-text p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }

    .work-btn{
        width: 60%;
        padding: 20px;
        background-color: #00869F;
        text-decoration: none;
        text-align: center;
        border: none;
        color: white;
    }
    
}

@media screen and (max-width: 767px) {

    #how-it-works {
        padding: 10px 20px;
    }

    #how-it-works h1{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 300;
        line-height: 64px;
        text-align: left;
        color: #BDBDBD;
    }

    #how-it-works h2{
        font-family: Roboto;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        color: #333333;
    }

    .work-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        width: 100%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .work-method{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .work-method img{
        height: 50%;
    }

    .work-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        width: 100%;
    }

    .work-text h3{
        font-family: Roboto;
        font-size: 40px;
        font-weight: 300;
        line-height: 46.88px;
        text-align: left;
        color: #BDBDBD;
    }

    .work-text p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }

    .work-btn{
        width: 100%;
        padding: 20px;
        background-color: #00869F;
        border: none;
        color: white;
    }
    
}